{% extends "base_generic.html" %}

{% block content %}

<h1>AGREED TERMS</h1>
    <p>Your attention is particularly drawn to the provisions of clause 13 (Limitation of liability).</p>
    <ol>
        <h3><li> ABOUT US </h3>
            <ol>
                <li> <b>Company details.</b> Kenda Software Enterprises Ltd (company registration number 10289811) (we and us) is a company registered in England and Wales and our registered office is at Oxford Centre For Innovation, New Road, Oxford, England, OX1 1BY, which is also our main trading address. We operate the website www.wealthmap.io (Website).</li>
                <li> <b>Contacting us.</b> To contact us e-mail us at [E-MAIL ADDRESS]. How to give us formal notice of any matter under the Contract is set out in clause 14.2.</li>
            </ol>
        </li>
        <h3><li>OUR CONTRACT WITH YOU</h3>
            <ol>
                <li><b>Our contract.</b> These terms and conditions (Terms) apply to the order by you and supply of Services by us to you (Contract). They apply to the exclusion of any other terms that yous eek to impose or incorporate, or which are implied by trade, custom, practice or course of dealing.</li>
                <li><b>Entire agreement.</b> The Contract is the entire agreement between you and us in relation to its subject matter. You acknowledge that you have not relied on any statement, promise or representation or assurance or warranty that is not set out in the Contract.</li>
                <li><b>Language.</b> These Terms and the Contract are made only in the English language.</li>
            </ol>
        </li>
        <h3><li>PLACING AN ORDER AND ITS ACCEPTANCE</h3>
            <ol>
                <li><b>Placing your order.</b> Please follow the onscreen prompts to place an order. You may only submit an order using the method set out on the site. Each order is an offer by you to buy the services specified in the order (Services) subject to these Terms.</li>
                <li><b>Correcting input errors.</b> Our order process allows you to check and amend any errors before submitting your order to us. Please check the order carefully before confirming it. You are responsible for ensuring that your order and any specification or other information submitted by you is complete and accurate.</li>
                <li><b>Acknowledging receipt of your order.</b> After you place your order, you will receive an email from us acknowledging that we have received it, but please note that this does not mean that your order has been accepted. Our acceptance of your order will take place as described in clause 3.4.</li>
                <li><b>Accepting your order.</b> r. Our acceptance of your order takes place when we send an email to you to accept it <b>(Order Confirmation)</b>, at which point and on which date <b>(Commencement Date)</b> the Contract between you and us will come into existence. The Contract will relate only to those Services confirmed in the Order Confirmation.</li>
                <li><b>If we cannot accept your order.</b> If we are unable to supply you with the Services for any reason, we will inform you of this by email and we will not process your order. If you have already paid for the Services, we will refund you the full amount</li>
            </ol>
        </li>
        <h3><li>CONSIDERATION</h3>
            <ol>
                <li>In consideration of you complying with your obligations under this Contract and promoting our application for mobile devices known as My Wealth Map and its related services <b>(My Wealth Map App)</b> in accordance with this Contract, we shall provide the Services on the terms of this Contract from the Commencement Date until and unless this Contract is terminated in accordance with clause 11.</li>
            </ol>
        </li>
        <h3><li>OUR SERVICES</h3>
            <ol>
                <li><b>Descriptions and illustrations.</b> Any descriptions or illustrations on our Website are published for the sole purpose of giving an approximate idea of the services described in them. They will not form part of the Contract or have any contractual force.</li>
                <li><b>Compliance with specification.</b> Subject to our right to amend the specification (see clause 5.3) we will supply the Services to you in accordance with the specification for the Services appearing on our Website at the date of your order in all material respects.</li>
                <li><b>Changes to specification.</b> We reserve the right to amend the specification of the Services if required by any applicable statutory or regulatory requirement or if the amendment will not materially affect the nature or quality of the Services.</li>
                <li><b>Reasonable care and skill.</b> We warrant to you that the Services will be provided using reasonable care and skill.</li>
                <li><b>Time for performance.</b> We will use reasonable endeavours to meet any performance dates given by us to you, but any such dates are estimates only and failure to perform the Services by such dates will not give you the right to terminate the Contract.</li>
            </ol>
        </li>
        <h3><li>YOUR OBLIGATIONS</h3>
            <ol>
                <li>It is your responsibility to ensure that:
                    <ol type = "a">
                        <li>the terms of your order are complete and accurate;</li>
                        <li>you co-operate with us in all matters relating to the Services;</li>
                        <li>you will accept Ethereum coin from users of the My Wealth Map App wanting to buy goods and/or services from you;</li>
                        <li>you promptly, and in any event not later than two working days after a user has bought goods and/or services from you, provide us with:
                            <ol type = 'i'>
                                <li>the Ethereum address from which you collected Ethereum from that user;</li>
                                <li>upload a receipt of the transaction you conclude with that user to our portal for receipts to which we give you access from time to time;</li>
                            </ol>
                        </li>
                        <li>neither you nor any of your officers, employees, worker, contractors or agents will play for games that we provide to users through the My Wealth Map App or attempt to win or otherwise make the rewards available through the My Wealth Map App unavailable to the users of the My Wealth Map App;</li>
                        <li>you provide us with such information and materials we may reasonably require in order to supply the Services, and ensure that such information is complete and accurate in all material respects;</li>
                        <li>you obtain and maintain all necessary licences, permissions and consents which may be required for the Services before the date on which the Services are to start;</li>
                        <li>you comply with all applicable laws, including health and safety laws and advertising laws and laws governing sales promotions or promotional materials;</li>
                    </ol>
                </li>
                <li>You shall promote the My Wealth Map App at all times by:
                    <ol type = 'a'>
                        <li>displaying and maintaining such logo and banners on the first page of your website that a user lands on when visiting your website (Home Page) as we provide you for such purposes from time to time; and</li>
                        <li>[OTHER THINGS KENDA WANTS THEM TO DO TO PROMOTE].</li>
                    </ol>
                </li>
                <li>You shall submit to us for prior approval any proposed use of our trade mark, domain name, logo, and other elements of branding that you propose to include on your website for the purposes of complying with clause 6.2. The Company shall review the proposed use within a reasonable time (being ordinarily not longer than seven days) and shall not unreasonably refuse or delay approval.</li>
                <li>You shall be responsible for developing, operating and maintaining Your Website and for all materials that appear on it. </li>
                <li>If our ability to perform the Services is prevented or delayed by any failure by you to fulfil any obligation listed in clause 6.1 (<b>Your Default</b>):
                    <ol type="a">
                        <li>we will be entitled to suspend performance of the Services until you remedy Your Default, and to rely on Your Default to relieve us from the performance of the Services, in each case to the extent Your Default prevents or delays performance of the Services. In certain circumstances Your Default may entitle us to terminate the contract under clause 11 (Termination);</li>
                        <li>we will not be responsible for any costs or losses you sustain or incur arising directly or indirectly from our failure or delay to perform the Services; and</li>
                        <li>it will be your responsibility to reimburse us on written demand for any costs or losses we sustain or incur arising directly or indirectly from Your Default.</li>
                    </ol>
                </li>
            </ol>
        </li>
        <h3><li>INTELLECTUAL PROPERTY RIGHTS</h3>
            <ol>
                <li>All intellectual property rights in or arising out of or in connection with the Services (other than intellectual property rights in any materials provided by you) will be owned by us.</li>
                <li>We agree to grant you a fully paid-up, worldwide, non-exclusive, royalty-free licence during the term of the Contract to copy the deliverables specified in your order (excluding materials provided you) and such trade mark, domain name, logo, and other elements of branding we provide you during the term of the Contract for the purpose of receiving and using the Services and such deliverables in your business and complying with your obligations under this Contract. You may not sub-license, assign or otherwise transfer the rights granted in this clause 7.2.</li>
                <li>You agree to grant us a fully paid-up, non-exclusive, royalty-free, non-transferable licence to copy and modify any materials provided by you to us for the term of the Contract for the purpose of providing the Services to you.</li>
            </ol>
        </li>
        <h3><li>HOW WE MAY USE YOUR PERSONAL INFORMATION</h3>
            <ol>
                <li>We will use any personal information you provide to us to:</li>
                    <ol type="a">
                        <li>provide the Services;</li>
                        <li>process your payment for the Services; and</li>
                        <li>inform you about similar services that we provide, but you may stop receiving these at any time by contacting us.</li>
                    </ol>
                <li>Further details of how we will process personal information are set out in the privacy policy.</li>
            </ol>
        </li>
        <h3><li>LIMITATION OF LIABILITY: YOUR ATTENTION IS PARTICULARLY DRAWN TO THIS CLAUSE.</h3>
            <ol>
                <li>Nothing in the Contract limits or excludes our liability for:
                    <ol type="a">
                        <li>death or personal injury caused by our negligence, or the negligence of our employees, agents or subcontractors;</li>
                        <li>fraud or fraudulent misrepresentation; or</li>
                        <li>breach of the terms implied by section 2 of the Supply of Goods and Services Act 1982 (title and quiet possession) or any other liability which cannot be limited or excluded by applicable law.</li>
                    </ol>
                </li>
                <li>Subject to clause 9.1, we will not be liable to you, whether in contract, tort (including negligence), for breach of statutory duty, or otherwise, arising under or in connection with the Contract for:
                    <ol type="a">
                        <li>loss of profits;</li>
                        <li>loss of sales or business;</li>
                        <li>loss of agreements or contracts;</li>
                        <li>loss of anticipated savings;</li>
                        <li>loss of use or corruption of software, data or information;</li>
                        <li>loss of or damage to goodwill; and</li>
                        <li>any indirect or consequential loss</li>
                    </ol>
                </li>
                <li>Subject to clause 9.1, we shall not be liable to you for you arising under or in connection with the Contract, whether in contract, tort (including negligence), breach of statutory duty, or otherwise, arising from or in connection with acceptance by you of Ethereum (or any cryptocurrency) as payment for the goods and/or services you provide.</li>
                <li>Subject to clause 9.1, our total liability to you arising under or in connection with the Contract, whether in contract, tort (including negligence), breach of statutory duty, or otherwise, will be limited to £100.</li>
                <li>Except as expressly stated in these Terms, we do not give any representations, warranties or undertakings in relation to the Services. Any representation, condition or warranty which might be implied or incorporated into these Terms by statute, including without limitation the terms implied by sections 3 to 5 of the Supply of Goods and Services Act 1982, by common law or otherwise are, to the fullest extent permitted by law, excluded from the Contract.</li>
                <li>Nothing in these Terms limits or affects the exclusions and limitations set out in our Terms and Conditions.</li>
                <li>This clause 9 will survive termination of the Contract.</li>
            </ol>
        </li>
        <h3><li>CONFIDENTIALITY</h3>
            <ol>
                <li>We each undertake that we will not at any time during the Contract, and for a period of five years after termination of the Contract, disclose to any person any confidential information concerning one another's business, affairs, customers, clients or suppliers, except as permitted by clause 10.2.</li>
                <li> We each may disclose the other's confidential information:
                    <ol type="a">
                        <li> to such of our respective employees, officers, representatives, subcontractors or advisers who need to know such information for the purposes of carrying out our respective obligations under the Contract. We will each ensure that such employees, officers, representatives, subcontractors or advisers comply with this clause 10; and </li>
                        <li>as may be required by law, a court of competent jurisdiction or any governmental or regulatory authority.</li>
                    </ol>
                </li>
                <li>Each of us may only use the other's confidential information for the purpose of fulfilling our respective obligations under the Contract.</li>
            </ol>
        </li>
        <h3><li>TERMINATION</h3>
            <ol>
                <li>Without affecting any other right or remedy available to it, we may terminate this agreement on giving not less than 30 days’ notice to you.</li>
                <li>Without limiting any of our other rights, we may suspend the performance of the Services, or terminate the Contract with immediate effect by giving written notice to you if:
                    <ol type="a">
                        <li>you commit a material breach of any term of the Contract and (if such a breach is remediable) fail to remedy that breach within 14 days of you being notified in writing to do so;</li>
                        <li>you fail to pay any amount due under the Contract on the due date for payment;</li>
                        <li>you take any step or action in connection with you entering administration, provisional liquidation or any composition or arrangement with your creditors (other than in relation to a solvent restructuring), being wound up (whether voluntarily or by order of the court, unless for the purpose of a solvent restructuring), having a receiver appointed to any of your assets or ceasing to carry on business or, if the step or action is taken in another jurisdiction, in connection with any analogous procedure in the relevant jurisdiction;</li>
                        <li>you suspend, threaten to suspend, cease or threaten to cease to carry on all or a substantial part of your business; or</li>
                        <li>your financial position deteriorates to such an extent that in our opinion your capability to adequately fulfil your obligations under the Contract has been placed in jeopardy</li>
                    </ol>
                </li>
                <li>On termination of the Contract you must return all of Our Materials and any deliverables specified in your order which have not been fully paid for. If you fail to do so, then we may enter your premises and take possession of them. Until they have been returned, you will be solely responsible for their safe keeping and must not use them for any purpose unconnected with the Contract.</li>
                <li>Termination of the Contract will not affect your or our rights and remedies that have accrued as at termination.</li>
                <li>Any provision of the Contract that expressly or by implication is intended to come into or continue in force on or after termination will remain in full force and effect.</li>
            </ol>
        </li>
        <h3><li>EVENTS OUTSIDE OUR CONTROL </h3>
            <ol>
                <li>We will not be liable or responsible for any failure to perform, or delay in performance of, any of our obligations under the Contract that is caused by any act or event beyond our reasonable control (<b>Event Outside Our Control</b>).</li>
                <li>If an Event Outside Our Control takes place that affects the performance of our obligations under the Contract:
                    <ol type="a">
                        <li>we will contact you as soon as reasonably possible to notify you; and</li>
                        <li>our obligations under the Contract will be suspended and the time for performance of our obligations will be extended for the duration of the Event Outside Our Control. We will arrange a new date for performance of the Services with you after the Event Outside Our Control is over</li>
                    </ol>
                </li>
                <li>You may cancel the Contract affected by an Event Outside Our Control which has continued for more than 30 days. To cancel please contact us. If you opt to cancel we will refund the price you have paid, less the charges reasonably and actually incurred us by in performing the Services up to the date of the occurrence of the Event Outside Our Control.</li>
            </ol>
        </li>
        <h3><li>NON-SOLICITATION</h3>
            <ol>
                <li>You must not attempt to procure services that are competitive with the Services from any of our directors, employees or consultants, whether as an employee or on a freelance basis, during the period that we are providing the Services to you and for a period of six months following termination of the Contract.</li>
            </ol>
        </li>
        <h3><li>COMMUNICATIONS BETWEEN US</h3>
            <ol>
                <li>When we refer to "in writing" in these Terms, this includes email.</li>
                <li>Any notice or other communication given under or in connection with the Contract must be in writing and be delivered personally, sent by pre-paid first class post or other next working day delivery service, or email.</li>
                <li>A notice or other communication is deemed to have been received:
                    <ol type="a">
                        <li>if delivered personally, on signature of a delivery receipt or at the time the notice is left at the proper address;</li>
                        <li>if sent by pre-paid first class post or other next working day delivery service, at 9.00 am on the second working day after posting; or</li>
                        <li>if sent by email, at 9.00 am the next working day after transmission.</li>
                    </ol>

                </li>
                <li>In proving the service of any notice, it will be sufficient to prove, in the case of a letter, that such letter was properly addressed, stamped and placed in the post and, in the case of an email, that such email was sent to the specified email address of the addressee</li>
                <li>The provisions of this clause will not apply to the service of any proceedings or other documents in any legal action.</li>
            </ol>
        </li>
        <h3><li>GENERAL</h3>
            <ol>
                <li><b>Assignment and transfer.</b>
                     <ol type="a">
                        <li>We may assign or transfer our rights and obligations under the Contract to another entity.</li>
                        <li>You may only assign or transfer your rights or your obligations under the Contract to another person if we agree in writing.</li>
                    </ol>
                </li>
                <li><b>Variation.</b> Any variation of the Contract only has effect if it is in writing and signed by you and us (or our respective authorised representatives).</li>
                <li><b>Waiver.</b> If we do not insist that you perform any of your obligations under the Contract, or if we do not enforce our rights against you, or if we delay in doing so, that will not mean that we have waived our rights against you or that you do not have to comply with those obligations. If we do waive any rights, we will only do so in writing, and that will not mean that we will automatically waive any right related to any later default by you.</li>
                <li><b>Severance.</b> Each paragraph of these Terms operates separately. If any court or relevant authority decides that any of them is unlawful or unenforceable, the remaining paragraphs will remain in full force and effect.</li>
                <li><b>Third party rights.</b> The Contract is between you and us. No other person has any rights to enforce any of its terms.</li>
                <li><b>Governing law and jurisdiction.</b> The Contract is governed by English law and we each irrevocably agree to submit all disputes arising out of or in connection with the Contract to the exclusive jurisdiction of the English courts.</li>
            </ol>
        </li>
    </ol>
    <div>
    <hr>
        <h4>Do you wish to cancel your subscription? if yes, just click<a class="text-blue" href="{% url "cancel_subscription" %}"> here.</a></h4>

    </div>

    <br>
    <br>
    <br>
{% endblock %}